body {
  height: 100%;
  background-color:#000000;
  background: url("../images/pizzaCat.jpg") no-repeat center center;
  background-size: cover;
  background-position-y: inherit;
  font-family: sans-serif;
  font display: inline;
  color: yellow;
  margin:0;
  padding:15px;
}

.show-price {
   display: none;
   color: rgb(211, 211, 26) 
   text-align: left; 
   font-size: 1.5em;
   font-weight: bold;
}

.container {
  padding: 15px;
  margin: 15px;
}

h1, h2 {
  padding: 25px;
  font-size: 2.5em;
  padding-top:0;
  margin-top:0;
}

#Order {
 margin: 30px;
 padding: 15px;
 color: yellow;
 text-decoration: blueviolet;
}

.cost {
  color: darkblue;
  text-emphasis: bold;
}

